{% extends 'evaluations/base.html' %}

{% block content %}
<h2>ایجاد کارمند جدید</h2>
<form method="post">
    {% csrf_token %}
    
    <label for="file_number">شماره پرسنلی:</label>
    <input type="text" id="file_number" name="file_number" required><br><br>

    <label for="name">نام و نام خانوادگی:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="job_title">عنوان شغل:</label>
    <input type="text" id="job_title" name="job_title" required><br><br>

    <label for="password">رمز عبور:</label>
    <input type="password" name="password" id="password" required><br><br>

    <label for="job_rank">رتبه شغلی:</label>
    <div style="display: flex; align-items: center;">
        <select id="job_rank" name="job_rank" required>
            {% for rank in job_ranks %}
                <option value="{{ rank.id }}">{{ rank.name }}</option>
            {% endfor %}
        </select>
        <a href="{% url 'create_job_rank' %}" style="margin-left: 10px;">افزودن رتبه شغلی جدید</a>
    </div>
    <br>

    <label for="department">دپارتمان:</label>
    <div style="display: flex; align-items: center;">
        <select id="department" name="department" required>
            {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
            {% endfor %}
        </select>
        <a href="{% url 'create_department' %}" style="margin-left: 10px;">افزودن دپارتمان جدید</a>
    </div>
    <br>

    <button type="submit">ایجاد</button>
</form>
{% endblock %}
