
{% extends 'evaluations/base.html' %}

{% block content %}
<h2>ایجاد کارمند جدید</h2>
<form method="post">
    {% csrf_token %}
    <label for="file_number">شماره پرسنلی:</label>
    <input type="text" id="file_number" name="file_number" required><br><br>

    <label for="name">نام و نام خانوادگی:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="job_title">عنوان شغل:</label>
    <input type="text" id="job_title" name="job_title" required><br><br>

    <label for="job_rank">رتبه شغلی:</label>
    <select id="job_rank" name="job_rank" required>
        <option value="0">کارشناس</option>
        <option value="1">مدیر</option>
        <option value="2">کارمند</option>
        <option value="3">کارگر</option>
    </select><br><br>

    <label for="department">دپارتمان:</label>
    <select id="department" name="department" required>
        {% for department in departments %}
            <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">ایجاد</button>
</form>
{% endblock %}
