{% extends 'evaluations/base.html' %}

{% block content %}
<h2>لیست کارمندان</h2>
<table>
    <tr>
        <th>نام</th>
        <th>شماره پرونده</th>
        <th>سمت</th>
        <th>عملیات</th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.file_number }}</td>
        <td>{{ employee.job_title }}</td>
        <td>
            <a href="{% url 'evaluate_employee' employee.id %}">ارزیابی</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
